<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.4.0" targetFramework="net472" />
  <package id="Accord.Video" version="3.4.0" targetFramework="net472" />
  <package id="Accord.Video.FFMPEG" version="3.4.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
</packages>